<div class="container" style="align-self: center;">
    <div class="containerA">
        <h1> {{name}}</h1>
    </div>
    <div class="card">
        <div class="container">
            <h3>Edit Team</h3>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Team Name:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="name" style="width: 90%;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    League:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="league" style="width: 90%;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Logo:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="logo" style="width: 90%;">
                </div>
            </div>
            <img [src]="logo" alt="{{team.name}}'s Logo">
            <button class="btn btn-primary" [routerLink]="['/team-view',teamId()]">Cancel</button>
            <button class="btn btn-primary" (click)="commitChanges()"
                [routerLink]="['/team-view',teamId()]">Commit</button>
        </div>
    </div>
</div>