<div class="container-fluid">
    <div class="row  justify-content-md-center">
        <div class="col-md-auto text-center">
            <h1>{{team1.name}} VS. {{team2.name}}</h1>
            <h2>{{match.date.toDateString()}} - {{match.date.toLocaleTimeString()}}</h2>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <div class="row">
            <div class="col-md-6">
                <table class="table team-table table-bordered">
                    <thead>
                        <tr>
                            <h2>{{team1.name}}</h2>
                        </tr>
                    </thead>
                    <tbody>
                        @for(player of teamService.getPlayers(team1); track player) {
                            <tr>
                                @if(player.currentlyInMatch){
                                    <td scope="col">{{player.firstName[0]}}. {{player.lastName}}</td>
                                }
                                @else {
                                    <td scope="col" style="background-color: lightgrey;">{{player.firstName[0]}}. {{player.lastName}}</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
                <div class="col-md-6">
                    <table class="table team-table table-bordered">
                        <thead>
                            <tr>
                                <h2>{{team2.name}}</h2>
                            </tr>
                            @for(player of teamService.getPlayers(team2); track player) {
                            <tr>
                                @if(player.currentlyInMatch){
                                    <td scope="col">{{player.firstName[0]}}. {{player.lastName}}</td>
                                }
                                @else {
                                    <td scope="col" style="background-color: lightgrey;">{{player.firstName[0]}}. {{player.lastName}}</td>
                                }
                            </tr>
                            }
                        </thead>
                    </table>
                </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <form #playerActionForm="ngForm" (ngSubmit)="onSubmit(playerActionForm)">
            <div class="form-group">
                <label for="playerActing">Player Acting</label>
                <select class="form-control" id="playerActing" name="playerActing" [(ngModel)]="playerActing" required>
                    @for(player of teamService.getPlayers(team1); track player) {
                        <option [ngValue]="player">{{player.firstName[0]}}. {{player.lastName}}</option>
                    }
                    @for(player of teamService.getPlayers(team2); track player) {
                        <option [ngValue]="player">{{player.firstName[0]}}. {{player.lastName}}</option>
                    }
                </select>
                <label for="playerEffected">Player Effected</label>
                <select class="form-control" id="playerEffected" name="playerEffected" [(ngModel)]="playerEffected" required>
                    @for(player of teamService.getPlayers(team1); track player) {
                        <option [ngValue]="player">{{player.firstName[0]}}. {{player.lastName}}</option>
                    }
                    @for(player of teamService.getPlayers(team2); track player) {
                        <option [ngValue]="player">{{player.firstName[0]}}. {{player.lastName}}</option>
                    }
                </select>
                <label for="playerAssisting">Player Assisting</label>
                <select class="form-control" id="playerAssisting" name="playerAssisting" [(ngModel)]="playerAssisting" required>
                    @for(player of teamService.getPlayers(team1); track player) {
                        <option [ngValue]="player">{{player.firstName[0]}}. {{player.lastName}}</option>
                    }
                    @for(player of teamService.getPlayers(team2); track player) {
                        <option [ngValue]="player">{{player.firstName[0]}}. {{player.lastName}}</option>
                    }
                    <option [ngValue]="null">None</option>
                </select>
                <label for="playerTimeMinutes">Minutes</label>
                <input class="form-control" id="playTimeMinutes" name="playTimeMinutes" [(ngModel)]="playTimeMinutes" required>
                <label for="playerTimeSeconds">Seconds</label>
                <input class="form-control" id="playTimeSeconds" name="playTimeSeconds" [(ngModel)]="playTimeSeconds" required>
                <input class="form-check-input" type="checkbox" [(ngModel)]="trade" name="trade" value="true" id="trade">
                <label class="form-check-label" for="trade">
                Trade?
                </label>
                <input type="hidden" name="clickedButton" ngModel #buttonValue="ngModel">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                      <button type="submit" (click)="setSiegeAction(siegeActionEnum.Killed)" class="btn btn-secondary">Kill</button>
                      <button type="submit" (click)="setSiegeAction(siegeActionEnum.Headshot)"class="btn btn-secondary">Headshot Kill</button>
                      <button type="submit" (click)="setSiegeAction(siegeActionEnum.Revived)" class="btn btn-secondary">Revive</button>
                      <button type="submit" (click)="setSiegeAction(siegeActionEnum.Planted)" class="btn btn-secondary">Plant/Defuse</button>
                    </div>
                </div>
            </div>
        </form>
         
    </div>
    <div class="col-md-4 text-center">
        @if(!match.hasStarted){
            <h1>Upcoming</h1>
        }
        @else if(match.hasFinished) {
            <h3 style="font-weight: bold;">Final</h3>
        }
        @else {
            <h1 class="highlight">{{match.team1Score}} - {{match.team2Score}}</h1>
            @switch (team1.sport) {
                @case (sportEnum.Volleyball) {}
                @case (sportEnum.RainbowSixSiege) {
                    <h3>Round {{match.quarterOrRound}} - {{match.timeRemaining | secondsToTime}}</h3>
                }
                @default {
                    @if (sportEnum.Basketball || sportEnum.Football) {
                        @if(match.quarterOrRound == 1) {
                            <h3>1st Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                        @else if(match.quarterOrRound == 2) {
                            <h3>2nd Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                        @else if(match.quarterOrRound == 2) {
                            <h3>3rd Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                        @else {
                            <h3>4th Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                    }
                }
            }
        }
        <hr class=""my-1/>
        <div style="height: 300px; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Play</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                         @for(play of quarterOrRound.plays; track play) {
                                <tr (click)="onPlayClick(play)">
                                <td scope="col">{{play.description}}</td>
                                <td scope="col">{{play.time | secondsToTime}}</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div> 
        <button class="btn btn-danger" style="margin: 1rem;" (click)="onPlayDelete()">Delete Play</button>
    </div>
    <div class="row text-center">
        <!-- <div class="col-md-12">
            @if(team1.sport == sportEnum.RainbowSixSiege && match.hasStarted) {
                <h2 style="margin-top: 2rem;">Round History</h2>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                                @if($index % 12 >= 6 || $index == 13) {
                                    <th style="background-color: lightgrey;">{{$index + 1}}</th>
                                }
                                @else {
                                    <th>{{$index + 1}}</th> 
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                            @if($index % 12 >= 6 || $index == 13) {
                                <td style="background-color: lightgrey;" scope="col"><img class="icon" src={{quarterOrRound.result}}></td>
                            }
                            @else {
                                <td scope="col"><img class="icon"  src={{quarterOrRound.result}}></td>
                            }
                        }
                        </tr>
                    </tbody>
                </table>
            }
            @else if(team1.sport == sportEnum.Basketball || team1.sport == sportEnum.Football) {
                <h2 style="margin-top: 2rem;">Score by Quarter</h2>
                <table class="table table-bordered table-responsive" style="margin: auto; width: 25%; margin-bottom: 2rem;">
                    <thead>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                                <th>{{$index + 1}}</th>
                            }
                            <th style="background-color: lightgrey;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                           <td>{{quarterOrRound.team1Score}}</td>
                        }
                        <td style="background-color: lightgrey;">{{match.team1Score}}</td>
                        </tr>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                               <td>{{quarterOrRound.team2Score}}</td>
                            }
                            <td style="background-color: lightgrey;">{{match.team2Score}}</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div> -->
    </div>
</div>

<app-game-statistics [matchID]="this.match.id"></app-game-statistics>
