<nav class="navbar fixed-top navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <a
      class="navbar-brand d-flex align-items-center text-white"
      [routerLink]="'/'"
    >
      <img
        src="/images/bison logo.png"
        alt="Logo"
        width="80"
        height="40"
        class="me-2"
      />
      Bison Base
    </a>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        @if (selectedSport) {
        <li class="breadcrumb-item">
          <a [routerLink]="['/teams', selectedSport]">{{ selectedSport }}</a>
        </li>
        } @if (selectedTeam) {
        <li class="breadcrumb-item">
          <a [routerLink]="['/team', selectedSport, selectedTeam]">{{
            selectedTeam
          }}</a>
        </li>
        } @if (selectedGame) {
        <li class="breadcrumb-item">
          <a
            [routerLink]="['/game', selectedSport, selectedTeam, selectedGame]"
            >{{ selectedGame }}</a
          >
        </li>
        } @if (selectedPlayer) {
        <li class="breadcrumb-item">
          <a
            [routerLink]="[
              '/player',
              selectedSport,
              selectedTeam,
              selectedPlayer
            ]"
            >{{ selectedPlayer }}</a
          >
        </li>
        }
      </ol>
    </nav>
    <div class="d-flex align-items-center ms-auto">
      <app-search></app-search>
      @if (this.authService.token == 'true') {
      <div class="dropdown ms-3">
        <a
          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
          href="#"
          id="userDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle me-2 fs-4"></i>
          My Account
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="userDropdown"
        >
          <li>
            <a class="dropdown-item" href="/manage-account">Manage Account</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" (click)="logOut()">Log Out</a></li>
        </ul>
      </div>
      }
    </div>
  </div>
</nav>
