<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Management</title>
  </head>
  <body>
    <div>
        <h2 style="text-align:center; margin-top: 20px;">ADMIN MANAGEMENT PORTAL</h2>
        <div style="margin-top: 20px;" class="container text-center">
            <div class="row">
                <div class="col"><h5>Username</h5></div>
                <div class="col"><h5>Email</h5></div>
                <div class="col"><h5>Type</h5></div>
                <div class="col"><h5>User ID</h5></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col"><input type="text" class="form-control" placeholder="Enter Username"></div>
                <div class="col"><input type="text" class="form-control" placeholder="Enter Email address"></div>
                <div class="col"><select name="" id="">
                    <option value="option1">1</option>
                    <option value="option2">2</option>
                    <option value="option3">3</option>
                </select></div>
                <div class="col"><input type="text" class="form-control" placeholder="Enter User ID"></div>
                <div class="col"><button class="btn btn-primary">Delete</button></div>
            </div>
            <div class="row" style="margin-top: 20px;">
              <div class="col text-start"><button class="btn btn-outline-secondary" style="border-radius: 30px;"><b>+</b></button></div>
            </div>
            <div class="" style="margin-top: 20px;">
              <div class="float-sm-end"><button class="btn btn-primary" style="border-radius: 18px;">Publish</button></div>
            </div>
        </div>
    </div>
  </body>
</html>
