<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Management</title>
  </head>
  <body>
    <div style="margin-top: 40px;" class="container-fluid text-center">
        <div class="row justify-content-center">
            <div class="col-5 bg-secondary-subtle" style=" border-radius: 20px;">
                <img style="height: 200px;" src="acc_login2.svg" alt="">
                <h5>Enter your login details to continue</h5><hr>
                <div class="text-start container">
                <form class="form" action="">
                    <label for="user_id">User ID</label>
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="email address"
                      [(ngModel)]="email"
                    />
                    <label for="user_password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="password"
                      [(ngModel)]="password"
                    />
                </form>
                </div>
                <div class="text-start" style="margin-top: 20px;"><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="/verify-email">Forgot Password?</a></div>
                <button style="margin-bottom: 30px;" class="btn btn-primary" (click)="login()">Login</button>
            </div>
        </div>
    </div>
  </body>
</html>
