<div class="container-fluid">
    <div class="row  justify-content-md-center">
        <div class="col-md-auto text-center">
            <h1>{{team1.name}} VS. {{team2.name}}</h1>
            <h2>{{match.date.toDate().toDateString()}} - {{match.date.toDate().toLocaleTimeString()}}</h2>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        @if(match.hasStarted){
            <table class="table team-table table-bordered">
                <thead>
                    <tr>
                        <h2>{{team1.name}}</h2>
                    </tr>
                </thead>
                <tbody>
                    @for(player of team1Players; track player) {
                        <tr>
                            @if(player.currentlyInMatch){
                                <td scope="col">{{player.firstName[0]}}. {{player.lastName}}</td>
                            }
                            @else {
                                <td scope="col" style="background-color: lightgrey;">{{player.firstName[0]}}. {{player.lastName}}</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        } 
    </div>
    <div class="col-md-4 text-center">
        @if(!match.hasStarted){
            <h1>Upcoming</h1>
        }
        @else if(match.hasFinished) {
            <h3 style="font-weight: bold;">Final</h3>
        }
        @else {
            <h1 class="highlight">{{match.team1Score}} - {{match.team2Score}}</h1>
            @switch (team1.sport) {
                @case (sportEnum.Volleyball) {}
                @case (sportEnum.RainbowSixSiege) {
                    <h3>Round {{match.quarterOrRound}} - {{match.timeRemaining | secondsToTime}}</h3>
                }
                @default {
                    @if (sportEnum.Basketball || sportEnum.Football) {
                        @if(match.quarterOrRound == 1) {
                            <h3>1st Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                        @else if(match.quarterOrRound == 2) {
                            <h3>2nd Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                        @else if(match.quarterOrRound == 2) {
                            <h3>3rd Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                        @else {
                            <h3>4th Quarter - {{match.timeRemaining | secondsToTime}}</h3>
                        }
                    }
                }
            }
        }
        <hr class=""my-1/>
        @if(match.hasStarted) {
            <div style="height: 300px; overflow-y: auto;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Play</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                             @for(play of quarterOrRound.plays; track play) {
                                    <tr>
                                    <td scope="col">{{play.description}}</td>
                                    <td scope="col">{{play.time | secondsToTime}}</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>  
            <button class="btn btn-primary" [routerLink]="['/game-play-entry', this.match.id]">Edit</button>
        } 
    </div>
    <div class="col-md-4 text-center">
        @if(match.hasStarted) {
            <table class="table team-table table-bordered">
                <thead>
                    <tr>
                        <h2>{{team2.name}}</h2>
                    </tr>
                    @for(player of team2Players; track player) {
                    <tr>
                        @if(player.currentlyInMatch){
                            <td scope="col">{{player.firstName[0]}}. {{player.lastName}}</td>
                        }
                        @else {
                            <td scope="col" style="background-color: lightgrey;">{{player.firstName[0]}}. {{player.lastName}}</td>
                        }
                    </tr>
                    }
                </thead>
            </table>
        } 
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            @if(team1.sport == sportEnum.RainbowSixSiege && match.hasStarted) {
                <h2 style="margin-top: 2rem;">Round History</h2>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                                @if($index % 12 >= 6 || $index == 13) {
                                    <th style="background-color: lightgrey;">{{$index + 1}}</th>
                                }
                                @else {
                                    <th>{{$index + 1}}</th> 
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                            @if($index % 12 >= 6 || $index == 13) {
                                <td style="background-color: lightgrey;" scope="col"><img class="icon" src={{quarterOrRound.result}}></td>
                            }
                            @else {
                                <td scope="col"><img class="icon"  src={{quarterOrRound.result}}></td>
                            }
                        }
                        </tr>
                    </tbody>
                </table>
            }
            @else if(team1.sport == sportEnum.Volleyball) {
                <h2 style="margin-top: 2rem;">Score by Set</h2>
                <table class="table table-bordered table-responsive" style="margin: auto; width: 25%; margin-bottom: 2rem;">
                    <thead>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                                @if($index + 1 == match.quarterOrRound) {
                                    <th style="background-color: grey;">{{$index + 1}} - Active</th>
                                }
                                @else {
                                    <th>{{$index + 1}}</th>
                                }
                            }
                            <th style="background-color: lightgrey;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                           <td>{{quarterOrRound.team1Score}}</td>
                        }
                        <td style="background-color: lightgrey;">{{match.team1Score}}</td>
                        </tr>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                               <td>{{quarterOrRound.team2Score}}</td>
                            }
                            <td style="background-color: lightgrey;">{{match.team2Score}}</td>
                        </tr>
                    </tbody>
                </table>
            }
            @else if(team1.sport == sportEnum.Basketball || team1.sport == sportEnum.Football) {
                <h2 style="margin-top: 2rem;">Score by Quarter</h2>
                <table class="table table-bordered table-responsive" style="margin: auto; width: 25%; margin-bottom: 2rem;">
                    <thead>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                                @if($index + 1 <= 4) {
                                    <th>{{$index + 1}}</th>
                                }
                                @else if($index + 1 == 5) {
                                    <th>OT</th>
                                }
                                @else {
                                    <th>OT {{$index - 3}}</th>
                                }   
                            }
                            <th style="background-color: lightgrey;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                           <td>{{quarterOrRound.team1Score}}</td>
                        }
                        <td style="background-color: lightgrey;">{{match.team1Score}}</td>
                        </tr>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                               <td>{{quarterOrRound.team2Score}}</td>
                            }
                            <td style="background-color: lightgrey;">{{match.team2Score}}</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<app-game-statistics [matchID]="matchID()"></app-game-statistics>
