<h2 style="margin-top: 2rem;">Round History</h2>
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                                @if($index + 1 == match.quarterOrRound) {
                                    <th style="background-color: grey;">{{$index + 1}} - Active</th>
                                }
                                @else if($index % 12 >= 6 || $index == 13) {
                                    <th style="background-color: lightgrey;">{{$index + 1}}</th>
                                }
                                @else {
                                    <th>{{$index + 1}}</th> 
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        @for(quarterOrRound of match.quarterOrRoundResults; track $index) {
                            @if($index % 12 >= 6 || $index == 13) {
                                <td style="background-color: lightgrey;" scope="col"><img class="icon" src={{quarterOrRound.result}} alt="In Progress"></td>
                            }
                            @else {
                                <td scope="col"><img class="icon"  alt="In Progress" src={{quarterOrRound.result}}></td>
                            }
                        }
                        </tr>
                    </tbody>
                </table>
<div class="row">
    <div class="col-md-4">
        <h2>Team 1 Win</h2>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" (click)="setSiegeRoundResult(siegeRoundResultEnum.TEAM1_KILL)" class="btn btn-secondary">Elimination</button>
            <button type="submit" (click)="setSiegeRoundResult(siegeRoundResultEnum.TEAM1_TIME)"class="btn btn-secondary">Time</button>
            <button type="submit" (click)="setSiegeRoundResult(siegeRoundResultEnum.TEAM1_OBJ)"class="btn btn-secondary">Objective</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Team 2 Win</h2>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" (click)="setSiegeRoundResult(siegeRoundResultEnum.TEAM2_KILL)" class="btn btn-secondary">Elimination</button>
            <button type="submit" (click)="setSiegeRoundResult(siegeRoundResultEnum.TEAM2_TIME)"class="btn btn-secondary">Time</button>
            <button type="submit" (click)="setSiegeRoundResult(siegeRoundResultEnum.TEAM2_OBJ)"class="btn btn-secondary">Objective</button>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Round Controls</h2>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" (click)="previousRound()" class="btn btn-secondary">Previous Round</button>
            <button type="submit" (click)="nextRound()" class="btn btn-secondary">Next Round</button>
            <button type="submit" (click)="deleteQuarterOrRound()"class="btn btn-danger">Delete Round</button>
        </div>
    </div>
</div>
