<div class="container" style="align-self: center;">
    <div class="containerA">
        <h1>Create Team</h1>
    </div>
    <div class="card">
        <div class="container">
            <h3>Create Team</h3>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Team Name:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="name" style="width: 90%;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-form-label">
                    League:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="league" style="width: 90%;">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Sport:
                </div>
                <div class="col-sm-10">
                    <select name="Sport" [(ngModel)]="sport">
                        <option [value]="sportEnum.Basketball">Basketball</option>
                        <option [value]="sportEnum.Volleyball">Volleyball</option>
                        <option [value]="sportEnum.Football">Football</option>
                        <option [value]="sportEnum.RainbowSixSiege">Rainbow Six Seige</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-form-label">
                    Logo:
                </div>
                <div class="col-sm-10">
                    <input class="inputText" type="text" [(ngModel)]="logo" style="width: 90%;">
                </div>
            </div>

            <div class="row">
                <img [src]="logo" alt="{{name}}'s Logo">
            </div>



            <button class="btn btn-primary" (click)="commitChanges()" [routerLink]="['/sport',sport]">Save</button>
            <button style="margin-left: 10px;" class="btn btn-primary" (click)="this.userService.goBack()">Cancel</button>
        </div>
    </div>
</div>