<div class="container">
    <div class="containerA">
        <h1>{{player.firstName}} {{player.lastName}} ({{player.id}})</h1>
    </div>
    <div class="row">
        <div class="card">
            <div class="container2">
                <h3>Edit Contact</h3>
                <div class="row">
                    <div class="col-sm-2 col-form-label">
                        First Name:
                    </div>
                    <div class="col-sm-10">
                        <input class="inputText" type="text" [(ngModel)]="firstName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-form-label">
                        Last Name:
                    </div>
                    <div class="col-sm-10">
                        <input class="inputText" type="text" [(ngModel)]="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-form-label">
                        Bio:
                    </div>
                    <div class="col-sm-10">
                        <input class="inputText" type="text" [(ngModel)]="bio">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-form-label">
                        Age:
                    </div>
                    <div class="col-sm-10">
                        <input class="inputText" type="text" [(ngModel)]="age">
                    </div>
                </div>
                <button class="btn btn-primary" [routerLink]="['/team-view',teamId()]">Cancel</button>
                <button class="btn btn-primary" (click)="commitChanges()"
                    [routerLink]="['/team-view',teamId()]">Commit</button>
            </div>
        </div>
    </div>
</div>