<div class="row">
    <table>
        <tr>
            <td>Name</td>
            @for (item of categories; track $index) {
            <td>{{item}}</td>
            }
            <td></td>
        </tr>
        @for (player of players; track $index) {
        @if($index % 2 == 0) {
        <tr style="background-color: lightgrey;">
            <td>{{player.firstName}} {{player.lastName}}</td>
            @for (item of getAverages(player); track $index) {
            <td>{{item}}</td>
            }
            <!-- some kind of if to see if they are admin -->
            <td><a class="btn btn-primary" [routerLink]="['/edit-player',team.sport,team.id,player.id]"
                    style="float: right;">Edit</a></td>
        </tr>
        }
        @else {
        <tr>
            <td>{{player.firstName}} {{player.lastName}}</td>
            @for (item of getAverages(player); track $index) {
            <td>{{item}}</td>
            }
            <!-- some kind of if to see if they are admin -->
            <td><a class="btn btn-primary" [routerLink]="['/edit-player',team.sport,team.id,player.id]"
                    style="float: right;">Edit</a></td>
        </tr>
        }
        }

    </table>


</div>
<div class="text-center">
    <!-- some kind of if to see if they are admin -->
    <a class="btn btn-primary" [routerLink]="['/add-player-roster',team.sport,team.id]">Add to Roster</a>
</div>