<div class="container-fluid p-5 bg-custom text-center">
  <img class="mb-3" src="images/ndsu-logo.jpg" alt="NDSU Logo" />
  <h1>Welcome to Bison Base!</h1>
  <p>The go-to location for NDSU Sports updates</p>
  <a href="#sport-selection" class="btn btn-dark">Start Browsing</a>
</div>
<div class="container-fluid p-4">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-center mt-2 bg-light">
        <div class="card-body">
          <h5 class="card-title">Administrators & Statisticians</h5>
          <p class="card-text">
            Please use the button below to login using a registered account.
          </p>
          <div class="d-flex flex-column gap-2 mt-auto">
            <a routerLink="/login" class="btn btn-danger w-100">Login</a>
            @if (adminLoggedIn) {
            <a routerLink="/admin-management" class="btn btn-primary w-100"
              >Admin Management Portal</a
            >
            }
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <app-sport-selection></app-sport-selection>
    </div>
  </div>
</div>
