<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thank You</title>
</head>

<body>
    <div class="container text-center" style="margin-top: 20px;">
        <h5>Info Center</h5>
        <p>Hi there! if you are seeing this page it means that the feature you are tring to access isn't yet supported by the developers of this app.</p>
        <p>If you are in need of urgent services please contact our helpline at either: <span style="font-weight: bold;"><a href="mailto:fixityourself@bisonbase.com">{{email}}</a></span> or <span style="font-weight: bold;">801-211-9887</span></p>
        <p>Sorry for any inconvienece caused. Thank You.</p>
        <button class="btn btn-danger" (click)="this.userService.goBack()">Back</button>
    </div>
</body>

</html>
