<div class="container">
    <div class="containerA">
        <img class="icon" [src]="team.logoUrl" alt="{{team.name}}'s Logo">
        <h1>{{this.team.name}}</h1>
        <h3>{{team.wins}} -{{team.losses}} - {{team.draws}}</h3>

    </div>
    <div class="row">
        <button class="btn btn-secondary" (click)="changeFocus('info')">Info</button>
        <button class="btn btn-secondary" (click)="changeFocus('roster')">Roster</button>
        <button class="btn btn-secondary" (click)="changeFocus('schedule')">Schedule</button>
    </div>

    <div class="row">
        @if(focus=="info") {
        <app-team-header [teamId]="team.id"></app-team-header>
        }
        @if(focus=="roster") {
        <app-team-roster [teamId]="team.id"></app-team-roster>
        }
        @if(focus=="schedule") {
        <app-team-schedule [teamId]="team.id"></app-team-schedule>
        }
    </div>
</div>